.set-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
// .ant-form {
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//   padding: 30px;
//   color: rgba(92, 92, 92, 0.85);
//   font-size: 14px;
//   font-variant: tabular-nums;
//   line-height: 1.5715;
//   list-style: none;
//   font-feature-settings: 'tnum';
//   background: #fff;
//   border-radius: 5px;
// }